{include="header"}
<h2>Search:</h2> 
<form name="search" method="post" action="/products/search/" onsubmit="return validate();">
  Your search : <input type="text" id="search" name="find" /> 
  <!--  <input type="hidden" name="searching" value="yes" />-->
  <input type="submit" name="search" value="Search" />
</form>
{if="$searchterm"}<h2>Search term:{$searchterm}</h2>
<div>
  {loop="ser_result"}
  <div>
    <a href="/products/details/{$value.Product.id}">{$value.Product.name}</a>

  </div>
  {else}
  <p>
    No results to display.Try with new keyword
  </p>
  {/loop}
</div>
{/if}
<script type="text/javascript">
  function validate() {
    var len = document.getElementById("search").value.length;
    if (len < 2) {
      alert('Search string should be atlease three characters');
      return false;
    } else {
      return true;
    }
  }
</script>
{include="footer"}